.section-bestsellers {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 140px 0;
    background-color: $main-background-color;
    display: flex;
    max-width: 1366px;
    justify-content: center;

    @media screen and (max-width: 1367px) {
        margin: 0;
        justify-content: flex-end;
        padding: 140px 0 140px 98px;
    }

    @include sm {
        padding: 120px 0 120px 45px;
    }

    @include xs {
        padding: 80px 0;
    }

    &__wrapper {
        overflow: hidden;
        max-width: 1310px;
        min-width: 0;
        flex-shrink: 1;
    }

    .wrapper-bestsellers {
        display: flex;
        gap: 50px 86px;

        @include xs {
            flex-direction: column;
        }
    }


    .container-bestsellers {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 214px;
        color: $main-font-color;

        @include xs {
            text-align: center;
            margin: 0 auto;
        }

        &__header {
            @include heading-font(32px, 500, 120%);
            margin-bottom: 30px;
            margin-top: 30px;

            @include xs {
                margin-bottom: 25px;
            }
        }

        &__paragraph {
            font-family: 'M PLUS 1p';
            font-size: 18px;
            line-height: 145%;
            margin-top: 0;
            margin-bottom: 0;

            @include xs {
                font-size: 16px;
            }
        }

        &__button {
            @include button-font;
            border: 1px solid #B3BAC1;
            border-radius: 2px;
            background-color: #F8F8F6;
            padding: 13px 23px 16px 24px;
            margin-top: 40px;

            &_mobile {
                display: none;
            }

            @include xs {
                display: none;

                &_mobile {
                    @include button-font;
                    border: 1px solid #B3BAC1;
                    border-radius: 2px;
                    background-color: #F8F8F6;
                    padding: 13px 23px 16px 24px;
                    margin-top: 40px;
                    display: block;
                    max-width: 150px;
                    box-sizing: border-box;
                    margin: 40px auto 0;
                }
            }
        }
    }

    .container-items {
        .bestsellers-items-block {
            display: flex;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            overflow: hidden;
            column-gap: 30px;

            @include xs {
                padding-left: 45px;
            }

            &__image {
                height: 312px;
                object-fit: cover;

                @include xs {
                    height: 297px;
                    width: 220px;
                }
            }

            &__link {
                display: block;
                position: relative;
            }

            &__list {
                list-style: none;
            }
        }

        .container-items-wrapper {
            @include xs {
                display: flex;
                margin-right: 42px;
            }
        }

        .container-description {
            position: absolute;
            text-decoration: none;
            color: $main-font-color;
            text-align: center;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);


            &__header {
                font-family: Raleway;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 0;
            }

            &__paragraph {
                color: $secondary-font-color;
                font-size: 13px;
                font-weight: 400;
                margin-top: 10px;
                margin-bottom: 13px;
            }

            &__additional-text {
                font-family: Mplus 1p;
                font-size: 13px;
                font-weight: 400;
                text-decoration: underline;
                text-underline-offset: 7px;
            }
        }
    }

    .carousel-items {
        display: flex;
        list-style: none;
        width: max-content;
        padding: 0;
        margin-top: 25px;
        margin-left: auto;
        margin-right: 98px;
        gap: 43px;

        @include sm {
            margin-right: 45px;
        }

        @include xs {
            display: none;
        }

        &__button {
            margin: 0;
            padding: 0;
            background: none;
            border: none;
            cursor: pointer;
        }
    }

}