/*общие свойства*/
.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;

    @include sm {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }

    @include xs {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }
}

/* окончание общих свойств */


.catalog {
    &_filter {
        margin-top: 100px;
    }

    &__body {
        max-width: 1170px;
        margin: 0 98px 140px 98px;

        @include sm {
            max-width: 678px;
            margin: 0 45px 120px 45px;
        }

        @include xs {
            margin: 0 15px 80px 15px;
            max-width: 290px;
        }
    }

    &__headline {
        padding-top: 48px;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;

        @include sm {
            padding-top: 48px;
            margin-bottom: 47px;
            display: flex;
            justify-content: space-between;
        }

        @include xs {
            padding-top: 40px;
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
        }
    }

    &__title {
        @include heading-font(36px, 500, 130%);

        @include xs {
            @include heading-font(28px, 500, 130%);
        }

    }

    &__filter-button {
        @include button-font;
        width: 141px;
        height: 41px;
        border-radius: 2px;
        border: 1px solid #B3BAC1;
        background: none;
        text-decoration: none;

        @include xs {
            font-family: 'M PLUS 1p';
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            text-decoration: none;
            color: $main-font-color;
            width: 108px;
            height: 40px;
            border-radius: 2px;
            border: 1px solid #B3BAC1;
        }
    }

    &__cards {
        margin-bottom: 50px;


        @include xs {
            margin-bottom: 35px;
        }
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 30px;
    justify-content: center;

    @include sm {
        display: grid;
        grid-template-columns: repeat(auto-fit, 324px);
        gap: 30px;
        justify-content: center;
    }

    @include xs {
        display: grid;
        grid-template-columns: repeat(auto-fit, 290px);
        gap: 30px;
        justify-content: center;
    }
}

// Поменяла название класса, так как одинаковые на разных страницах
.catalog-card {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 270px;
    height: 350px;
    padding: 20px;
    line-height: 145%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include sm {
        width: 324px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 350px;
        padding: 20px;
        line-height: 145%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    @include xs {
        width: 290px;
        height: 290px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px;
        line-height: 145%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__main-info {
        color: $main-font-color;
        font-weight: 500;
        line-height: 145%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__name {
        font-family: Raleway;
        font-size: 16px;
    }

    &____price {
        font-family: Mplus 1p;
        font-size: 13px;
    }

    &__extra-info {
        color: $secondary-font-color;
        font-family: Mplus 1p;
        font-size: 13px;
        font-weight: 400;
        line-height: 145%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.card-high {
    background-image: url("../../images/catalogImg/background/High.png");

    @include sm {
        background-image: url("../../images/catalogImg/backgroundTablet/high_tab.png");

        @include xs {
            background-image: url("../../images/catalogImg/backgroundMobile/high_mob.png")
        }
    }
}

.card-rest {
    background-image: url("../../images/catalogImg/background/Rest.png");

    @include sm {
        background-image: url("../../images/catalogImg/backgroundTablet/rest_tab.png");

        @include xs {
            background-image: url("../../images/catalogImg/backgroundMobile/rest_mob.png")
        }
    }
}

.card-rose {
    background-image: url("../../images/catalogImg/background/Rose.png");

    @include sm {
        background-image: url("../../images/catalogImg/backgroundTablet/rose_tab.png");

        @include xs {
            background-image: url("../../images/catalogImg/backgroundMobile/rose_mob.png")
        }
    }
}

.card-milk {
    background-image: url("../../images/catalogImg/background/Milk.png");

    @include sm {
        background-image: url("../../images/catalogImg/backgroundTablet/milk_tab.png");

        @include xs {
            background-image: url("../../images/catalogImg/backgroundMobile/milk_mob.png")
        }
    }
}

.card-paradise {
    background-image: url("../../images/catalogImg/background/Paradise.png");

    @include sm {
        background-image: url("../../images/catalogImg/backgroundTablet/paradise_tab.png");

        @include xs {
            background-image: url("../../images/catalogImg/backgroundMobile/paradise_mob.png")
        }
    }
}

.card-sun {
    background-image: url("../../images/catalogImg/background/Sun.png");

    @include sm {
        background-image: url("../../images/catalogImg/backgroundTablet/sun_tab.png");

        @include xs {
            background-image: url("../../images/catalogImg/backgroundMobile/sun_mob.png")
        }
    }
}

.card-violet {
    background-image: url("../../images/catalogImg/background/Violet.png");

    @include sm {
        background-image: url("../../images/catalogImg/backgroundTablet/violet_tab.png");

        @include xs {
            background-image: url("../../images/catalogImg/backgroundMobile/violet_mob.png")
        }
    }
}

.card-clean {
    background-image: url("../../images/catalogImg/background/Clean.png");

    @include sm {
        background-image: url("../../images/catalogImg/backgroundTablet/clean_tab.png");

        @include xs {
            background-image: url("../../images/catalogImg/backgroundMobile/clean_mob.png")
        }
    }
}

.card-coconut {
    background-image: url("../../images/catalogImg/background/Coconut.png");

    @include sm {
        background-image: url("../../images/catalogImg/backgroundTablet/coconut_tab.png");

        @include xs {
            background-image: url("../../images/catalogImg/backgroundMobile/coconut_mob.png")
        }
    }
}

.card-lavender {
    background-image: url("../../images/catalogImg/background/Lavender.png");

    @include sm {
        background-image: url("../../images/catalogImg/backgroundTablet/lavendar_tab.png");

        @include xs {
            background-image: url("../../images/catalogImg/backgroundMobile/lavender_mob.png")
        }
    }
}

.card-lotos {
    background-image: url("../../images/catalogImg/background/Lotos.png");

    @include sm {
        background-image: url("../../images/catalogImg/backgroundTablet/lotos_tab.png");

        @include xs {
            background-image: url("../../images/catalogImg/backgroundMobile/lotos_mob.png")
        }
    }
}

.card-earth {
    background-image: url("../../images/catalogImg/background/Earth.png");

    @include sm {
        background-image: url("../../images/catalogImg/backgroundTablet/earth_tab.png");

        @include xs {
            background-image: url("../../images/catalogImg/backgroundMobile/earth_mob.png")
        }
    }
}

.product-navigation {
    padding-left: 46%;
    display: flex;
    justify-content: space-between;

    @include xs {
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .pages {
        display: flex;
        justify-self: center;
        font-family: Mplus 1p;
        font-size: 18px;
        font-weight: 500;
        line-height: 145%;

        &__dash {
            max-width: 50px;
            min-width: 30px;
            max-height: 1px;
            display: flex;
            align-self: center;
            margin: 0 10px 0 10px;
        }

        &__active {
            color: $main-font-color;
        }

        &__total {
            color: $secondary-font-color;
        }
    }

    .arrows {
        display: flex;
        justify-content: flex-end;
        max-width: 26px;
        max-height: 12px;

        &__left {
            margin-right: 32px;
        }
    }
}

.recent {
    &__body {
        max-width: 1170px;
        margin: 0 98px 140px 98px;

        @include sm {
            margin: 0 45px 120px 45px;
        }

        @include xs {
            margin: 0 15px 80px 15px;
        }
    }

    &__title {
        @include heading-font(32px, 500, 125%);
        text-align: center;
        margin-bottom: 60px;

        @include xs {
            @include heading-font(32px, 500, 125%);
            text-align: center;
            margin-bottom: 40px;
        }
    }

    &__cards {
        margin-bottom: 50px;

        @include xs {
            margin-bottom: 35px;
        }
    }

    &__cards>.catalog-card.card-clean {
        @include xs {
            display: none;
        }
    }

    &__cards>.catalog-card.card-lavender {
        @include xs {
            display: none;
        }
    }

    &__cards>.catalog-card.card-coconut {
        @include xs {
            display: none;
        }
    }
}