.contacts {
    &__wrap {
        max-width: 1170px;
        margin: 140px 98px 0 98px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 670px;
        height: 554px;
    }
}

.contacts-content {
    background: #f4f1ed;
    align-items: flex-start;
    width: 670px;
    height: 554px;
    position: absolute;
    top: 0;
    left: 0;


    &__container {
        margin: 100px 314px 100px 100px;
    }

    &__title {
        margin-bottom: 25px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 1.3;
        font-weight: 500;
        color: $main-font-color;
    }

    &__list {
        color: $main-font-color;
        margin-bottom: 5px;
        padding: 0;
        list-style: none;
    }

    &__item {
        margin-bottom: 22px;
    }

    &__link {
        text-decoration: none;
        font-family: 'mplus 1p', 'arial', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: $main-font-color;
    }

    &__social {
        color: $main-font-color;
        font-family: Mplus 1p;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        list-style: none;
        display: flex;
    }

    &__social-item {
        display: inline-block;
        margin-right: 30px;
    }
}

.contacts-map {
    &__container {
        width: 670px;
        height: 422px;
        flex-shrink: 0;
        position: absolute;
        top: 66px;
        left: 500px;

    }
}