.section-catalog {
    padding: 48px 0 120px;
    position: absolute;
    background-color: $main-background-color;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 48px;

    @include xs {
        padding: 48px 0 60px;
    }

    .wrapper-catalog {
        flex: 1 1 100%;
        max-width: 1366px;
        display: flex;
        justify-content: space-between;
        padding-right: 98px;
        padding-left: 98px;
        padding: 0 98px;

        @include sm {
            padding: 0 45px;
        }

        @include xs {
            padding: 0 15px;
        }

        &__heading-1 {
            color: $main-font-color;
            font-family: Raleway;
            font-size: 36px;
            font-weight: 500;
            margin: 0;

            @include xs {
                margin-bottom: 0;
                font-size: 28px;
            }
        }

        &__button {
            border: none;
            background: none;
            padding: 0;
            cursor: pointer;
        }
    }

    .form {
        max-width: 1366px;
        display: flex;
        justify-content: center;
        gap: 80px;
        flex-wrap: wrap;

        @include xs {
            gap: 50px;
            justify-content: flex-start;
            margin: 0 35px;
        }

        &__fieldset {
            border: none;
            padding: 0;
            margin: 0;

            @include xs {
                width: 100%;
            }
        }

        &__heading-2 {
            margin-bottom: 20px;
            color: $main-font-color;
            font-family: 'M PLUS 1p';
            font-size: 18px;
            font-weight: 500;
            position: relative;

            @include xs {
                border-bottom: 1px solid #DBDCE0;
                width: 100%;
                padding-bottom: 20px;

                &::after {
                    content: '';
                    width: 12px;
                    height: 0.4px;
                    background-color: #122947;
                    position: absolute;
                    right: 0;
                    top: 10px;
                }
            }

        }

        &__label {
            color: $secondary-font-color;
            font-family: 'M PLUS 1p';
            font-size: 16px;
            font-weight: 400;
        }

        &__input {
            appearance: none;
            position: absolute;
        }

        &__input:checked+label {
            color: $main-font-color;

            span {
                &::before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #122947;
                    display: block;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                }
            }
        }

        &__checkbox {
            position: absolute;
            width: 14px;
            height: 14px;
            background-color: #F8F8F6;
            border: 1px solid #CDCDCD;
            border-radius: 50%;
            left: -24px;
        }

        &__inputs-wrapper {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding-left: 24px;
        }

        &__input-container {
            position: relative;

            &.buttons {
                display: flex;
                gap: 18px;
                margin-top: 20px;
            }

            @include sm {
                &.buttons {
                    margin-top: 52px;
                    display: none;
                }
            }

            &_tablet {
                display: none;

                @include sm {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    gap: 18px;
                    padding: 0;
                }
            }
        }

        &__button-reset,
        &__button-submit {
            @include button-font;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            border: 1px solid #122947;
            background-color: #F8F8F6;
            padding: 11px;
            min-width: 141px;
            margin: 0;
        }

        &__button-reset {
            border: 1px solid #B3BAC1;
            background-color: #F8F8F6;
        }

        @include xs {

            &__button-reset,
            &__button-submit {
                min-width: 115px;
            }
        }
    }
}