.follow-container {
    max-width: 1366px;
    background-color: $main-background-color;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 140px;

    a {
        color: $main-font-color;
        text-decoration: none;
        font-family: "M PLUS 1p";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.follow {
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1151px;
        height: 466px;
        margin: 140px 98px 0 98px;
    }
}

.follow-wrapper {
    width: 699px;
    display: grid;
    grid-template-columns: repeat(3, 233px);
    grid-gap: 0px;
    justify-items: left;

    &__img {
        width: 233px;
        height: 233px;
        object-fit: cover;
        object-position: center;
    }
}

.follow-content {
    &__container {
        width: 381px;
    }

    &__title {
        font-family: "raleway", "arial", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 130%;
        color: $main-font-color;
    }

    &__txt {
        margin-top: 15px;
        font-family: "M PLUS 1p", "arial", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 145%;
        color: $main-font-color;
    }

    &__button {
        margin-top: 40px;
        text-decoration: none;
        width: 200px;
        height: 41px;
        display: block;
        border: 1px solid #b3bac1;
        box-sizing: border-box;
        border-radius: 2px;
        font-family: "M PLUS 1p", "arial", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        padding: 10px;
        color: $main-font-color;
    }
}

@include sm {
    .follow-container {
        margin-bottom: 120px;

        .follow {
            .follow__wrap {
                margin-left: 0;
                justify-content: start;
                width: auto;

                .follow-wrapper {
                    display: grid;
                    grid-template-columns: repeat(2, 233px);
                    width: auto;
                    margin-right: 48px;

                    img:first-child {
                        display: none;
                    }

                    img:nth-child(3) {
                        display: none;
                    }
                }

                .follow-content {
                    max-width: 276px;

                    .follow-content__container {
                        width: auto;

                        .follow-content__txt {
                            margin-top: 30px;
                        }

                        .follow-content__button {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@include xs {
    .follow-container {
        .follow {
            margin-bottom: 80px;

            .follow__wrap {
                display: flex;
                flex-direction: column-reverse;
                margin: 0px;
                height: auto;

                .follow-content {
                    text-align: center;

                    .follow-content__container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .follow-content__txt {
                            margin-top: 25px;
                        }

                        .follow-content__button {
                            margin-top: 30px;
                            margin-bottom: 50px;
                        }
                    }
                }

                .follow-wrapper {
                    grid-template-columns: repeat(2, 145px);
                    margin: 0;

                    .follow-wrapper_img {
                        width: 145px;
                        height: 145px;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}