.follow-container {
    max-width: 1366px;
    background-color: $main-background-color;
    width: 100%;
    margin: 0 auto;
    padding: 140px 0;

    a {
        @include text-font(16px, 500, 140%);
        color: $main-font-color;
        text-decoration: none;
    }
}

.follow {
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1151px;
        margin: 0 98px;
    }
}

.follow-wrapper {
    width: 699px;
    display: grid;
    grid-template-columns: repeat(3, 233px);
    grid-gap: 0px;
    justify-items: left;

    &__img {
        width: 233px;
        height: 233px;
        object-fit: cover;
        object-position: center;
    }
}

.follow-content {
    &__container {
        width: 381px;
    }

    &__title {
        @include heading-font(32px, 500, 130%);
        margin-top: 147px;
        margin-bottom: 30px;
        color: $main-font-color;
    }

    &__txt {
        @include text-font(18px, 400, 145%);
        margin-bottom: 40px;
    }

    &__button {
        @include text-font(16px, 500, 140%);
        @include border;
        @include flex-center;
        width: 170px;
        height: 41px;
        padding: 13px 34px 16px 33px;
        margin-bottom: 146px;
    }
}

@include sm {
    .follow-container {
        max-width: 768px;
        padding: 120px 0;

        .follow {
            .follow__wrap {
                justify-content: start;
                width: auto;
                margin: 0 45px;

                .follow-wrapper {
                    grid-template-columns: repeat(2, 177px);
                    margin-right: 48px;

                    .follow-wrapper_img {
                        width: 177px;
                        height: 177px;
                        flex-shrink: 0;
                    }
                }

                img:first-child {
                    display: none;
                }

                img:nth-child(3) {
                    display: none;
                }
            }

            .follow-content {
                max-width: 276px;

                .follow-content__container {
                    width: auto;

                    .follow-content__title {
                        @include heading-font(31px, 500, 125%);
                        width: 276px;
                        height: 63px;
                        margin-top: 57px;
                        margin-bottom: 30px;
                    }

                    .follow-content__txt {
                        @include text-font(18px, 400, 140%);
                        width: 269px;
                        height: 66px;
                        margin-bottom: 40px;
                    }

                    .follow-content__button {
                        @include text-font(16px, 500, 140%);
                        margin-bottom: 57px;
                    }
                }
            }
        }
    }
}


@include xs {
    .follow-container {
        max-width: 320px;
        padding: 80px 0;

        .follow {
            .follow__wrap {
                display: flex;
                flex-direction: column-reverse;
                margin: 0px;
                height: auto;

                .follow-wrapper {
                    width: auto;
                    grid-template-columns: repeat(2, 145px);
                    margin: 0;

                    .follow-wrapper_img {
                        width: 145px;
                        height: 145px;
                    }
                }
            }

            .follow-content {
                text-align: center;

                .follow-content__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .follow-content__title {
                        @include heading-font(27px, 500, 120%);
                        width: 241px;
                        height: 54px;
                        margin-top: 0;
                        margin-bottom: 25px;
                    }

                    .follow-content__txt {
                        @include text-font(16px, 400, 130%);
                        width: 232px;
                        height: 56px;
                        margin-bottom: 30px;
                    }

                    .follow-content__button {
                        @include text-font(14px, 500, 140%);
                        margin: 0 auto;
                        width: 146px;
                        height: 40px;
                        padding: 13px 28px 16px;
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}