/* блок Наша история */
.history {
    background: url('../../images/historyImg/600693-PMYQNV-922\ -1366.jpg');
    @include background();

    @include sm {
        background-image: url('../../images/historyImg/600693-PMYQNV-922-768.jpg');
    }

    @include xs {
        background-image: url('../../images/historyImg/600693-PMYQNV-922\ -320.jpg');
    }

    a {
        color: $main-font-color;
        text-decoration: none;
    }

    &__wrap {
        margin: 0 auto;
        max-width: 1366px;
        height: 433px;


        @include sm {
            max-width: 768px;
            height: unset;
        }

        @include xs {
            max-width: 320px;
            height: unset;
        }
    }
}

.historyBox {
    @include flex-center;
    flex-direction: column;
    max-width: 761px;
    padding-top: 120px;
    margin: 0 auto;
    color: $main-font-color;

    @include sm {
        max-width: 652px;
        padding: 100px 0;
    }

    @include xs {
        max-width: 242px;
        padding: 60px 0;
    }

    &__text {
        margin-bottom: 50px;


        @include xs {
            margin-bottom: 30px;
        }

        p {
            text-align: center;
            @include heading-font(31px, 500, 125%);

            @include xs {
                height: 156px;
                @include heading-font(21px, 500, 125%);
            }
        }
    }

    &__btn {
        @include flex-center;
        @include text-font(16px, 500, 140%);
        @include border;
        width: 163px;
        height: 41px;

        @include xs {
            width: 154px;
            height: 40px;
            @include text-font(14px, 500, 140%);
        }
    }
}