// переменная для основного цвета
$main-font-color: #122947;

// переменная для второстепенного цвета
$secondary-font-color: #9A9DA0;

// переменная для цвета заднего фона
$main-background-color: #F8F8F6;