/*переменная для основного цвета*/
$main-font-color: #122947;

/*переменная для второстепенного цвета*/
$secondary-font-color: #9A9DA0;

/*миксин для основных заголовков на страницах, кроме главного заголовка "maroon" и "каталог"*/
@mixin heading-font {
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
}

/*миксин для шрифта кнопок*/
@mixin button-font {
    font-family: 'M PLUS 1p';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: $main-font-color;
}